.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  background-color: #ffffff; /* Form arka plan rengini burada ayarlayın */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Formun maksimum genişliğini belirleyin */
}

.ant-form-item {
  margin-bottom: 16px;
}

.ant-form-item-label > label {
  font-weight: bold;
}

.ant-input {
  border-radius: 4px;
}

.ant-btn-primary {
  width: 100%;
  border-radius: 4px;
}
